# Brand
VITE_BRAND_NAME=
VITE_BRAND_TAGLINE=
VITE_LOGO_URL=

# Contact
VITE_CONTACT_EMAIL=
VITE_CONTACT_PHONE=
VITE_CONTACT_PHONE_AVAILABILITY=
VITE_CONTACT_ADDRESS=
VITE_CONTACT_ADDRESS_DETAIL=
VITE_CONTACT_ADDRESS_SUB=

# Working Hours
VITE_WORKING_DAYS=
VITE_WORKING_HOURS=

# Social
VITE_TWITTER_URL=
VITE_LINKEDIN_URL=

# Formspree
VITE_FORMSPREE_ID=

# StreamPay Payment Gateway
VITE_STREAM_API_KEY=
VITE_STREAM_X_API_KEY=
VITE_STREAM_API_KEY_SECRET=
